# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

build/
node_modules/
typings/
time-tracker-app/src/environments/environment.prod.ts
time-tracker-rest-services/db/itsm-query.txt
time-tracker-rest-services/db/ericsson/
time-tracker-rest-services/doc/Database Details (2).xlsx
time-tracker-rest-services/src/main/java/com/bh/timetracker/Test.java
