<div class="content-inner" loginUser>
                <!-- Page Header-->
                <header class="page-header" style="padding: 10px 0;">
                    <div class="container-fluid">
                 <!--    <h2 class="no-margin-bottom">Time Entry</h2> -->
                   <div class="row">
                        <div class="col col-md-8"> <h2 class="no-margin-bottom">Time Entry</h2></div>
                        <div class="col-6 col-md-4"><input class="form-control" type="date" value="" id="example-date-input"  name="taskDate" [(ngModel)]="taskDate" (input)="onChangeTaskDate()"></div>
                     </div> 
                    </div>
                </header>

                <!-- Forms Section-->
                <section class="forms">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Basic Form-->
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-close">
                                       
                                    </div>
                                    <div class="card-header d-flex justify-content-between">
                                        <h3 class="h4 ">Task Form</h3>
                                        <p class="text-success align-self-center mx-auto" style="margin: 0px;"   *ngIf="saveSuccess">Task added successfully</p>
                                        <p class="text-warning align-self-center mx-auto" style="margin: 0px;"   *ngIf="saveFail">Fail to Add Task</p>
                                        <p class="text-warning align-self-center mx-auto" style="margin: 0px;"   *ngIf="deleteFail">Fail to Delete Task</p>
                                         
                                         <p class="text-warning align-self-center mx-auto" style="margin: 0px;"   *ngIf="inCompleteForm">Please Fill the Form</p>


                                          <p class="align-self-center mx-auto" style="margin: 0px;"  *ngIf="showProgressBar" >
                                                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                                     <span class="sr-only">Loading...</span>
                                          </p>
                                        



                                    </div>
                                    <div class="card-body">

                                        <form>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label">Ticket Type <span style="color:red">*</span></label>
                                                        <div>
                                                             <select name="catgoryList" class="form-control" (input)="onSelectCatgoryList($event.target.value)"  [(ngModel)]="selectedCategory.categoryId"  >
                                                                <option *ngFor="let category of categoryList" [value]="category.categoryId">{{category.categoryName}}</option>
                                                            </select>
                                                        </div>                                                     
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-control-label">Technical Category<span style="color:red">*</span></label>
                                                        <div>
                                                          <select name="taskTypeList" class="form-control" (input)="onSelecttaskTypeList($event.target.value)"  [(ngModel)]="selectedTaskType.taskTypeId">
                                                                
                                                                <option *ngFor="let taskType of taskTypeList" [value]="taskType.taskTypeId">{{taskType.taskTypeName}}</option>
                                                            </select> 
                                                        </div>
                                                    </div>

                                                   

                                                     <div class="form-group">
                                                        <label class="form-control-label">Sub Technical Category<span style="color:red">*</span></label>
                                                        <div>
                                                          <select name="subtypeList1" class="form-control"   [(ngModel)]="selectedSubtype.subtypeId"   (input)="onSelectSubtypeList($event.target.value)">
                                                                <option *ngFor="let subtype of subtypeList" [value]="subtype.subtypeId">{{subtype.subtypeName}}</option>
                                                            </select> 
                                                        </div>
                                                    </div>
                                                    
                                                     <div class="form-group">
                                                        <label class="form-control-label">Request Triggered via</label>
                                                        <div>
                                                          <select name="getMediumList1" class="form-control"   [(ngModel)]="selectedMedium.mediumId" (input)="onSelectMediumList($event.target.value)"   >
                                                                
                                                                <option *ngFor="let medium of mediumList" [value]="medium.mediumId">{{medium.mediumName}}</option>
                                                            </select> 
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-6">
                                                   

                                                    <div class="form-group">
                                                        <label class="form-control-label">Ticket ID</label>
                                                        <input type="text" placeholder="Ticket ID" required class="form-control" onInput="checkLength(40,this)" name="incidentId" [(ngModel)]="incidentId" autocomplete="off"   ng2-auto-complete  [source]="autoSuggestionID">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-control-label">Activity Duration/Time (Mins)<span style="color:red">*</span></label>
                                                        <input type="number" placeholder="Mins" step=".5" onKeyPress="return check(event,value)" onInput="checkLength(3,this)"  class="form-control"  name="hour" min="0"  max="999" [(ngModel)]="hour" autocomplete="off"    required minlength="0" >
                                                    </div> 

                                                    <div class="form-group">
                                                        <label class="form-control-label">Comments</label>
                                                        <input type="text" placeholder="Comments"   class="form-control" onInput="checkLength(100,this)"   name="comments" [(ngModel)]="comments" autocomplete="off">
                                                    </div>

                                                      <!--   <div *ngIf="minlength.invalid && (name.dirty || name.touched)"
                                                                     class="alert alert-danger">

                                                                  <div *ngIf="name.errors.required">
                                                                    Name is required.
                                                                  </div>
                                                                  <div *ngIf="name.errors.minlength">
                                                                    Name must be at least 4 characters long.
                                                                  </div>
                                                                  <div *ngIf="name.errors.forbiddenName">
                                                                    Name cannot be Bob.
                                                                  </div>

                                                       </div> -->

                                                  
                                                    
                                                </div>

                                                 <div class="col-12">
                                                    
                                                 </div>

                                            </div>
                                            <div class="row justify-content-md-center">
                                                <div class="col-md-auto">
                                                    <input type="submit" value="Add"  name="Add" class="btn btn-primary"   (click)="onClickAdd()">
                                                </div>
                                                <div class="col-md-auto">
                                                    <input type="submit" value="Clear" class="btn btn-secondary"(click)="resetForm()" >
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Horizontal Form-->


                        </div>
                    </div>
                </section>
<div class="row">
     <div class="col-12 col-md-9">
            <p class="align-self-center mx-auto" style="margin: 0px;"  *ngIf="showTaskListProgressBar" >
                                                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                                     <span class="sr-only">Loading...</span>
                </p>
     </div>
</div>

              

                <!-- Projects Section-->
                <section class="projects no-padding-top">
                    <div class="row justify-content-md-center">
                        <div class="col-12 col-md-9">
                            <div class="container-fluid">
                                <!-- Project-->
                                <div class="project"  *ngFor="let task of taskList"  style="cursor:pointer;">
                                    <div class="row bg-white has-shadow">
                                        <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                                            <div class="project-title d-flex align-items-center">
                                                <div class="image has-shadow"><img   [attr.src]="appContext+'assets/img/MetroUI-Other-Task-icon.png'"   alt="..." class="img-fluid">
                                                </div>
                                                <div class="text">
                                                    <h3 class="h4">{{task.category.categoryName}}</h3><small>{{task.taskType.taskTypeName}} / {{task.medium.mediumName}}</small>
                                                </div>
                                            </div>
                                            <div class="project-date">
                                                    <span class="hidden-sm-down">{{task.tiket?.incidentId}} </span>
                                                 
                                            </div>
                                        </div>
                                        <div class="right-col col-lg-6 d-flex align-items-center justify-content-end">
                                            <div class="time"><i class="fa fa-clock-o"></i>{{task.hours}}min</div>
                                            <div class="comments"><i class="fa fa-comment-o"></i>{{task.comments | slice:0:38}}</div>
                                            <div class="project-progress">
                                                <div class="progress">
                                                    <div role="progressbar"   [style.width]="((task.hours/(2*60))*100) +'%'" style=" height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" [ngClass]=" 'progress-bar bg-green'"></div>
                                                </div>
                                            </div>
                                            <!-- <i class="fa fa-times" aria-hidden="true"  style="cursor:pointer;" (click)="deleteTask(task)"></i> -->
                                            <button type="button" class="close" aria-label="Close" (click)="deleteTask(task)">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Project-->
                              <!--   <div class="project">
                                    <div class="row bg-white has-shadow">
                                        <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                                            <div class="project-title d-flex align-items-center">
                                                <div class="image has-shadow"><img src="assets/img/project-2.jpg" alt="..." class="img-fluid">
                                                </div>
                                                <div class="text">
                                                    <h3 class="h4">Project Title</h3><small>Lorem Ipsum Dolor</small>
                                                </div>
                                            </div>
                                            <div class="project-date"><span class="hidden-sm-down">Today at 4:24 AM</span>
                                            </div>
                                        </div>
                                        <div class="right-col col-lg-6 d-flex align-items-center">
                                            <div class="time"><i class="fa fa-clock-o"></i>12:00 PM </div>
                                            <div class="comments"><i class="fa fa-comment-o"></i>20</div>
                                            <div class="project-progress">
                                                <div class="progress">
                                                    <div role="progressbar" style="width: 60%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- Project-->
                               <!--  <div class="project">
                                    <div class="row bg-white has-shadow">
                                        <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                                            <div class="project-title d-flex align-items-center">
                                                <div class="image has-shadow"><img src="assets/img/project-3.jpg" alt="..." class="img-fluid">
                                                </div>
                                                <div class="text">
                                                    <h3 class="h4">Project Title</h3><small>Lorem Ipsum Dolor</small>
                                                </div>
                                            </div>
                                            <div class="project-date"><span class="hidden-sm-down">Today at 4:24 AM</span>
                                            </div>
                                        </div>
                                        <div class="right-col col-lg-6 d-flex align-items-center">
                                            <div class="time"><i class="fa fa-clock-o"></i>12:00 PM </div>
                                            <div class="comments"><i class="fa fa-comment-o"></i>20</div>
                                            <div class="project-progress">
                                                <div class="progress">
                                                    <div role="progressbar" style="width: 50%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- Project-->
                               <!--  <div class="project">
                                    <div class="row bg-white has-shadow">
                                        <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                                            <div class="project-title d-flex align-items-center">
                                                <div class="image has-shadow"><img src="assets/img/project-4.jpg" alt="..." class="img-fluid">
                                                </div>
                                                <div class="text">
                                                    <h3 class="h4">Project Title</h3><small>Lorem Ipsum Dolor</small>
                                                </div>
                                            </div>
                                            <div class="project-date"><span class="hidden-sm-down">Today at 4:24 AM</span>
                                            </div>
                                        </div>
                                        <div class="right-col col-lg-6 d-flex align-items-center">
                                            <div class="time"><i class="fa fa-clock-o"></i>12:00 PM </div>
                                            <div class="comments"><i class="fa fa-comment-o"></i>20</div>
                                            <div class="project-progress">
                                                <div class="progress">
                                                    <div role="progressbar" style="width: 50%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>

                        </div>
                        <div class="col-lg-3"  [hidden]="totaHours==0">
                            <div class="work-amount card" >
                                <!-- <div class="card-close">
                                    <div class="dropdown">
                                        <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i>
                                        </button>
                                        <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow">
                                            <a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a>
                                            <a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="card-body" >
                                    <h3>Work Hours</h3><small>Total work on {{taskDate}}</small>
                                    <div class="chart text-center">
                                        <div class="text"><strong>{{totaHours}}</strong>
                                            <br><span>Mins</span>
                                        </div>
                                        <canvas id="pieChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </section>


            </div>



